@import "./variables";
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

html,
body {
  background-image: url("../images/money-background.jpg");
  height: 100%;
}

input {
  text-align: right;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

p {
  margin: 5px 0;
}

.content-wrapper {
  background-color: $html-bg-color;
  border-radius: 25px;
  box-shadow: 0 0 15px 2px $main-container-box-shadow;
  height: 800px;
  left: 50%;
  position: relative;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1200px;
}

.title-container {
  align-items: center;
  height: auto;
  justify-content: center;
  letter-spacing: 10px;
  margin: 0 auto;
  padding-top: 110px;
  text-align: center;
  width: 25%;
}

.app-title {
  color: $headerTwo-text-color;
  font-family: $headerTwo-font-family;
  font-size: $headerTwo-font-size;
  font-weight: $headerTwo-font-weight;
  margin: 0;
  text-transform: $headerTwo-text-transform;
}

.main-container {
  background-color: $main-container-bg-color;
  border-radius: 15px;
  box-shadow: 0 0 20px 2px $main-container-box-shadow;
  left: 50%;
  margin: 32px auto;
  max-width: 65%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.left-container {
  padding-right: 32px;
}

.form-control::-webkit-input-placeholder {
  color: $input-placeholder-text-color;
  font-family: $input-font-family;
  font-size: $input-font-size;
  font-weight: $input-font-weight;
}

.form-control {
  background-color: $input-bg-color;
  border: 3px solid $input-border-color;
  color: $input-text-color;
  cursor: pointer;
  font-family: $primary-font-family;
  font-size: $input-font-size;
  font-weight: $input-font-weight;
  line-height: 32px;
  padding: 6px 18px;

  &:hover {
    background-color: $input-hover-bg-color;
    border: 3px solid $input-hover-border-color;
  }

  &:focus {
    background-color: $input-focus-bg-color;
    border: 3px solid $input-focus-border-color;
    box-shadow: none;
    color: $input-text-color;
    outline-style: none;
  }
}

.input-container {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.dollar-icon,
.person-icon {
  height: 14px;
  position: fixed;
  margin: 0 18px;
  width: 10px;
  z-index: 999;
}

.percentage-options-container {
  margin: 0 -5px 25px;
}

.results-container {
  background-color: $right-container-bg-color;
  border-radius: 10px;
  padding: 20px 32px;
  position: relative;
}

.section-title-wrapper {
  display: flex;

  .left-header {
    color: $contentTwo-primary-text-color;
  }

  .error-message {
    color: $primary-error-color;
    margin-left: auto;
  }
}

.right-header {
  color: $contentTwo-secondary-text-color;
}

.section-header {
  font-family: $contentTwo-font-family;
  font-size: $contentTwo-font-size;
  font-weight: $contentTwo-font-weight;
}

.generated-amt {
  display: flex;
  justify-content: right;

  & .totals {
    color: $headerOne-text-color;
    font-family: $headerOne-font-family;
    font-size: $headerOne-font-size;
    font-weight: $headerOne-font-weight;
  }
}

.sub-header {
  color: $subHeader-text-color;
  font-family: $subHeader-font-family;
  font-size: $subHeader-font-size;
  font-weight: $subHeader-font-weight;
}

.reset-wrapper {
  bottom: 20px;
  position: absolute;
  width: calc((100% - (32px * 2)) + 30px);
}

.btn {
  height: 46px;
  letter-spacing: 2px;

  &:focus {
    box-shadow: none;
    outline-style: none;
  }

  &:disabled {
    cursor: not-allowed;
    pointer-events: visible;
  }
}

.percent-amt {
  background-color: $btn-primary-bg-color;
  color: $btn-primary-text-color;
  font-family: $btn-primary-font-family;
  font-size: $btn-primary-font-size;
  font-weight: $btn-primary-font-weight;
  text-transform: $btn-primary-text-transform;

  &:hover {
    background-color: $btn-primary-hover-bg-color;
    border: 3px solid $btn-primary-hover-border-color;
    color: $btn-primary-hover-text-color;
  }

  &:focus {
    background-color: $btn-primary-focus-bg-color;
    border: 3px solid $btn-primary-focus-border-color;
    color: $btn-primary-focus-text-color;
  }
}

.custom {
  background-color: $custom-btn-bg-color;
  border: 3px solid $input-border-color;
  color: $btn-secondary-text-color;
  cursor: pointer;
  font-family: $btn-primary-font-family;
  font-size: $btn-primary-font-size;
  font-weight: $btn-primary-font-weight;
  height: 46px;

  &:focus {
    border: 3px solid $input-focus-bg-color;
  }
}

.custom-input {
  background-color: $input-bg-color;
  border: 3px solid $input-border-color;
  color: $input-text-color;
  cursor: pointer;
  font-family: $btn-primary-font-family;
  font-size: $btn-primary-font-size;
  font-weight: $btn-primary-font-weight;
  height: 46px;
  line-height: 32px;
  padding: 6px 18px;
  text-align: end;

  &:hover {
    background-color: $input-hover-bg-color;
    border: 3px solid $input-hover-border-color;
  }

  &:focus {
    background-color: $input-focus-bg-color;
    border: 3px solid $input-focus-border-color;
    box-shadow: none;
    color: $input-text-color;
    outline-style: none;
  }
}

.selected {
  background-color: $btn-primary-hover-bg-color;
  border: 3px solid $btn-primary-hover-bg-color;
  color: $btn-primary-hover-text-color;
}

.result-btn {
  background-color: $btn-secondary-bg-color;
  color: $btn-secondary-text-color;
  font-family: $btn-secondary-font-family;
  font-size: $btn-secondary-font-size;
  font-weight: $btn-secondary-font-weight;
  text-transform: $btn-secondary-text-transform;

  &:hover {
    background-color: $btn-secondary-hover-bg-color;
    border: 3px solid $btn-secondary-hover-border-color;
  }

  &:focus {
    background-color: $btn-secondary-focus-bg-color;
    border: 3px solid $btn-secondary-focus-border-color;
    color: $btn-secondary-focus-text-color;
  }
}

.disabled-btn {
  cursor: not-allowed;
}

.disabled-input {
  cursor: not-allowed;
}

.invalidValueError {
  border: 3px solid $primary-error-color;
}

// Mobile Repsonsive Styles
@media screen and (max-device-width: 480px) {
  body {
    margin: 0;
    padding: 0;
  }

  .content-wrapper {
    height: 100%;
    padding-top: 32px;
    position: absolute;
    width: 100%;
  }

  .title-container {
    margin: 32px auto;
    padding: 0;
  }

  .main-container {
    margin: 0;
    max-width: 100%;
    position: relative;
  }

  .left-container {
    padding: 0;
    margin-bottom: 15px;
  }

  .reset-wrapper {
    margin-top: 24px;
    position: initial;
    width: auto;
  }

  .generated-amt {
    & .totals {
      font-size: $headerOne-sm-font-size;
    }
  }
}
